 p{
        font-family: Roboto;
        margin: 0;
    }
    .video-title{
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        width: 300px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .video-stats{
        color: rgb(96,96,96);
        font-size: 14px;
        margin-bottom: 20px;
    }
    .video-marques{
        color: rgb(96,96,96);
        font-size: 14px;
        margin-bottom: 18px;
    }
    .video-discription{
        color:rgb(96,96,96);
        font-size: 14px;
        width: 280px;
        line-height: 20px;
    }
    .apple-shop{
        color: white;
        border: none;
        background-color: rgb(227,65,64);
        padding: 18px 18px;
        font-size: 14px;
        margin-top: 40px;
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer;
    }
    .shop-now:hover{
        text-decoration: underline;
    }
