.google{
    border: none;
    width: 300px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.25);
    border-radius: 20px;
    font-size: 16px;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom: 10px;
}
   
